/* documntação 
autor Wanderson Felipe de Oliveira 
30/09/2020
abro totalmente o codigo para fins de estudo 
corpo do site cor de fundo  */

#body {
    background-color: #57A7B3;
}
/* carde login  */
#card {
    background-color: #99CCCC;
    display: block;
    width: 80%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
   padding-top: 3px;

}

/* btn lembreme */
#lembre-me {
    margin-top:-6%;
    margin-left: 60%;
   font-size: 12px;
}
/* btn entrar */
#btnentrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}
/* logo principal */
#imglogo {
    
    margin-top: -125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* texto direitos autorais  */
#texcop {

    color: white;
    position: relative;
}
/* incone Login   */
#icologin{
    display: block;
    position: absolute;
    margin-top:-3.5rem;
    width: 4rem;
    height: 4rem;
    margin-left:79%;
    scale:auto;
/* conf Inputi longin */
}#inputEmail{
    width:90%;
}
/* incone pass */
#icopass{
    display: block;
    position: absolute;
    margin-top:-60px;
    width: 4rem;
    height: 4rem;
    margin-left: 79%;
}
/* input pass */
#inputPassword{
    width:90%;
}
/* btn de informação */
#btnsinf{
    margin-left: 75%;
    margin-top: 5%;
    
   /*BTN CONFIGURAÇÃO COR BOTÃO SUPORTE */
}#btnsuport{
background-color:white;
margin: 1%;



    
}

.navbar-nav{
height:100px;

/* pagina suporte  */
#bodysuport{
    background-color:#57A7B3;
   

}#texttop{
    padding-top:2%;
    text-align: center;
    font-size: 5vmax;
    color: #57A7B3;
}#box{
    width: 100%;
    height:150px;
    background-color:white;
}
#btntreino{
    height: 60px;

    font-size: 12px;
}#btnwhats{
    height: 60px;
  
    font-size: 12px;
}#btnchamado{
    height: 60px;

    font-size: 12px;
}


